<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body style="background-color: #eee;">
        {% include 'includes/navbar.html' %}

        {% for message in messages %}
            <div class="message" style="text-align: center;">
                {{message}}
            </div>
        {% endfor %}

        {% block content %}

        {% endblock %}
    </body>
    <style>
        *{
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }
    </style>
</html>