{% extends 'base/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'operation/style.css' %}">
{% endblock %}

{% block title %}
Operación
{% endblock %}

{% block content %}
<div class="container">
    <div class="selection-container">
        <form class="form form--selection" action="" method="get">
            <h3 class="form__title">Selecciona la ruta</h3>
            <select name="selectRoute" class="form__select">
                <option value="0">Selecciona una opción</option>
                <option value="1">Magangué-Pinillos</option>
                <option value="2">SitioA-SitioB</option>
            </select>
            <button type="submit">Seleccionar</button>
        </form>
	</div>
</div>
{% endblock %}