<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'base/style.css' %}">
        {% block head %}
        {% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% include 'includes/navbar.html' %}

        {% for message in messages %}
            <div class="message" style="text-align: center;">
                {{message}}
            </div>
        {% endfor %}

        {% block content %}

        {% endblock %}

        {% block scripts %}

        {% endblock %}
    </body>
</html>