<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'logIn/style.css' %}">
        <title>Inicio de Sesión</title>
    </head>
    <body>
        {% if messages %}

            {% for message in messages %}
                <div class="message">
                    {{message}}
                </div>
            {% endfor %}

        {% endif %}
        <div class="container">
            <form method="post" class="form" action="">
                {% csrf_token %}
                
                <h3 class="form__title">Inicio de sesión</h3>

                <label class="form__indicator" for="usernameInput">Nombre de Usuario</label>
                <input name="username" id="usernameInput" class="form__input form__input--username" type="text" required>
                
                <label class="form__indicator" for="passwordInput">Contraseña</label>
                <input name="password" id="passwordInput" class="form__input form__input--password" type="password" required>

                <button class="form__button" type="submit">Iniciar sesión</button>
            </form>
            <a href="{% url 'userHandler:signUpPage' %}"><button class="form__button form__button--newAccount">Nueva cuenta</button></a>
        </div>
    </body>
</html>