.container{
    margin: 1em auto;
    width: 60%;
}

.selection-container, .calculation-container{
    background-color: #fff;
    border-radius: 5px;

    padding: 1em;
    margin: 2em 0;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 1em;

    width: 50%;
    margin: 1em auto;
}

.form__title{
    text-align: center;
}

.form--calculation{
    width: 70%;
}

.form__input-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}