.container{
    margin: 1em auto;
    width: 60%;
}

.selection-container{
    background-color: #fff;
    border-radius: 5px;

    padding: 1em;
    margin: 2em 0;
}

.selection-container__title{
    text-align: center;
}

.selection-container__form{
    display: flex;
    flex-direction: column;
    gap: 1em;

    width: 50%;
    margin: 1em auto;
}