{% extends 'base/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'home/style.css' %}">
{% endblock %}

{% block title %}
Energética2023
{% endblock %}

{% block content %}
<div class="container">
    <h3>Energética 2030</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita maiores impedit omnis dolorum consequuntur repudiandae sequi ratione esse labore nobis, commodi inventore nostrum vitae vel, non porro ab. Eligendi, sit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo fugiat inventore, iure veritatis nisi deserunt ducimus culpa excepturi perferendis voluptates, sint, explicabo nihil vero labore ea odio error. Error, hic!</p>
</div>
{% endblock %}